# Redis Commander connection to redis-master in this namespace (password from vault)
apiVersion: v1
kind: Secret
metadata:
  name: redis-commander-env
  namespace: "{{ target_namespace }}"
type: Opaque
stringData:
  REDIS_HOSTS: "local:redis-master:6379:0:{{ redis_password }}"