{{- $ingress := index .Values "ingress" }}
{{- range $name, $app := .Values.app }}
{{- if hasKey $app "ingress" }}
{{- if $ingress }}
{{- $host := "" }}
{{- if hasKey $app.ingress "host" }}
{{- $host = $app.ingress.host }}
{{- else if and (index $ingress "domain") (hasKey $app.ingress "subdomain") }}
{{- $host = printf "%s.%s" $app.ingress.subdomain (index $ingress "domain") }}
{{- end }}
{{- if $host }}
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ $name }}-route
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ $host }}`)
      kind: Rule
      middlewares:
        - name: security-headers
          namespace: {{ index $ingress "traefikNamespace" }}
        - name: rate-limit
          namespace: {{ index $ingress "traefikNamespace" }}
      services:
        - name: {{ $name }}-svc
          port: {{ $app.service.port }}
  tls:
    certResolver: {{ index $ingress "certResolver" }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
