---
{{- range $name, $app := .Values.app }}
{{- if hasKey $app "secrets" }}
{{- with $ -}}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ $name }}-spc
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  provider: infisical
  secretObjects:
  - data:
    {{- range $secrets := $app.secrets }}
    - key: {{ $secrets }}
      objectName: {{ $secrets }}
    {{- end }}
    secretName: {{ $name }}-secrets
    type: Opaque
  parameters:
    authMethod: kubernetes
    envSlug: {{ index .Values "namespace" | default .Release.Namespace }}
    identityId: 2afb1b0e-f64d-4fb8-9590-d8185aa53276
    infisicalUrl: >-
      http://infisical-infisical-standalone-infisical.infisical.svc.cluster.local:8080
    projectId: a22657b4-dc66-466a-a582-619769bde9f9
    useDefaultAudience: 'true'
    secrets: |
    {{- range $secrets := $app.secrets }}
      - secretPath: "/"
        fileName: "{{ $secrets }}"
        secretKey: "{{ $secrets }}"
    {{- end }}

---
{{- end }}
{{- end }}
{{- end }}
