---
- name: Create token for {{ item.name }}
  command: >
    kubectl create token {{ item.name }}
    --namespace {{ k8s_access_namespace }}
    --duration={{ k8s_token_duration }}
  register: member_token
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml

- name: Get cluster CA cert for {{ item.name }}
  command: >
    kubectl config view --raw
    -o jsonpath='{.clusters[0].cluster.certificate-authority-data}'
  register: cluster_ca
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  changed_when: false

- name: Write kubeconfig for {{ item.name }}
  copy:
    content: |
      apiVersion: v1
      kind: Config
      clusters:
      - name: {{ inventory_hostname }}-cluster
        cluster:
          server: {{ k8s_api_server }}
          certificate-authority-data: {{ cluster_ca.stdout }}
      contexts:
      - name: {{ item.name }}@{{ inventory_hostname }}
        context:
          cluster: {{ inventory_hostname }}-cluster
          user: {{ item.name }}
          namespace: default
      current-context: {{ item.name }}@{{ inventory_hostname }}
      users:
      - name: {{ item.name }}
        user:
          token: {{ member_token.stdout }}
    dest: "/tmp/{{ item.name }}-kubeconfig.yml"
  when: member_token.stdout is defined

- name: Fetch kubeconfig to control node
  fetch:
    src: "/tmp/{{ item.name }}-kubeconfig.yml"
    dest: "{{ k8s_kubeconfig_output_dir | default('kubeconfigs') }}/"
    flat: true
  when: member_token.stdout is defined
