# roles/traefik/templates/ingressroute.yml.j2
---
apiVersion: {{ traefik_crd_api_group | default('traefik.io') }}/v1alpha1
kind: IngressRoute
metadata:
  name: {{ item.name | replace('.', '-') }}-route
  namespace: {{ item.namespace }}
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ item.name }}.{{ domain }}`)
      kind: Rule
      middlewares:
        - name: security-headers
          namespace: {{ item.namespace }}
        - name: rate-limit
          namespace: {{ item.namespace }}
      services:
        - name: {{ item.service }}
          port: {{ item.port }}
  tls:
    certResolver: letsencrypt
