# roles/traefik/templates/ingressroute.yml.j2
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ item.name | replace('.', '-') }}-route
  namespace: {{ item.namespace }}
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ item.name }}.{{ domain }}`)
      kind: Rule
      middlewares:
        - name: security-headers
          namespace: {{ traefik_namespace }}
        - name: rate-limit
          namespace: {{ traefik_namespace }}
      services:
        - name: {{ item.service }}
          port: {{ item.port }}
  tls:
    certResolver: letsencrypt
