# roles/monitoring/templates/grafana-ingressroute.yml.j2
---
apiVersion: {{ traefik_crd_api_group | default('traefik.io') }}/v1alpha1
kind: IngressRoute
metadata:
  name: grafana-route
  namespace: {{ monitoring_namespace }}
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`grafana.{{ domain }}`)
      kind: Rule
      middlewares:
        - name: security-headers
          namespace: {{ monitoring_namespace }}
      services:
        - name: prometheus-grafana
          port: 80
  tls:
    certResolver: letsencrypt
